body {
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 28);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    font-size: 28px;
}

button {
    font-size: 22px;
    border-color: rgb(80, 80, 80);
}

button:hover {
    filter: brightness(1.1);
}

.double-btn {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    border: solid 1px;
    background-color: rgb(212, 212, 210);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}

.output .previous-operand {
    color: rgb(80, 80, 80);
}

.output .current-operand {
    color: rgb(28, 28, 28);
    font-size: 35px;
}

.grey {
    background-color: rgb(80, 80, 80);
}

.orange {
    background-color: rgb(255, 149, 0);
}